<div class="row jumbotron">
    <div class="container">
      <h1>Find your death love in 1 bite</h1>
      <p><strong>Spooky Love</strong> lists and seek for your love one with similar interests.</p>
      <p><form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control input-lg" name="query" placeholder="eg: brains, arms, gluts" /> <button class="btn btn-primary btn-lg" href="#" data-ui-find-btn>Find &hearts;</button>
      </div>
      </form></p>
      <p><small>or <a href="#users" data-ui-see-all-link>see all zombies available</a>!</small></p>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h1>Search all hot zombies <strong>with advanced filters</strong></h1>
            <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
            <div class="col-md-4">
                <h3>A profile with all the informations that you're used to</h3>

                <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. </p>
        </div>
        <div class="col-md-4">
                <h3>Easily broadcast your interest in zombies</h3>

                <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. </p>
        </div>
        <div class="col-md-4">
                <h3>Write all your description freely <small>until 500 characters</small></h3>

                <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. </p>
        </div>
</div>
<div class="row">
    <div class="container">
            <div class="col-md-12">
                <h2>Internal messaging to send all your bit and bites</h2>

                <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. </p>
        </div>
</div>
<div class="row">
    <div class="container">
            <div class="col-md-12">
                <h2>Plan all your dates right inside <strong>Spooky Love</strong></h2>

                <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. </p>
        </div>
</div>
