<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <h1>Humans only!</h1>
        <h2>Hey zombies, where are you going?</h2>
        <p>You can't be here, please go <a href="#">back to home</a>!</p>
    </div>
</div>
