<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Search</h1>
        <form class="form-inline">
            <input type="text" class="form-control" name="query" />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>